<div>
    <form action="/buscar-dato" method="post">
        día: <input type="number" name="dia">
        mes: <input type="number" name="mes">
        año: <input type="number" name="año">
        <button>entrar</button>
    </form>
</div>