<div>
    <form action="/singup" method="post">
        usuario: <input type="text" name="usuario">
        contraseña: <input type="text" name="contraseña">
        <button>entrar</button>
    </form>
</div>