<h1 class="totalVentas" style="color: blue;">INGRESO DE VENTAS</h1>
<hr>
<div class="row admin"></div>
<hr>
<div class="formulario row jumbotron">
  
<div class="row-center input-group mb-3" >
  <div class="col-4" style="background-color: rgb(251, 244, 212);">
    <p>Elba</p>
    <p>monto venta:</p>
    <input class="monto" type="number"> 
    <button class="btn btn-success center venta">Confirmar</button>
    <p>Total venta diaria: </p><p class="Elba"></p> 
  </div>
  <hr>
  <div class="col-4" style="background-color: rgb(241, 58, 119);">
    <p>Santiago</p>
    <p>monto venta:</p>
    <input class="monto" type="number"> 
    <button class="btn btn-success center venta">Confirmar</button>
    <p>Total venta diaria: </p><p class="Santiago"></p>  
  </div>
<hr>
  <div class="col-4 " style="background-color:rgb(60, 109, 243)">
    <p>Juan</p>
    <p>monto venta:</p>
    <input class="monto" type="number"> 
    <button class="btn btn-success center venta">Confirmar</button> 
    <p>Total venta diaria: </p><p class="Juan"></p> 
  </div>
<hr>
  <div class="col-4 " style="background-color:rgb(125, 250, 208)">
    <p>Fabian</p>
    <p>monto venta:</p>
    <input class="monto" type="number"> 
    <button class="btn btn-success center venta">Confirmar</button>
    <p>Total venta diaria: </p><p class="Fabian"></p>  
  </div>

  <div class="col-4 " style="background-color:rgb(255, 192, 245)">
    <p>Cristina</p>
    <p>monto venta:</p>    
    <input class="monto" type="number"><button class="btn btn-success center venta">Confirmar</button>   
    <p>Total venta diaria: </p><p class="Cristina"></p> 
  </div>
  
</div>
</div>
  
<div>
  <canvas id="myChart"></canvas>
</div>

<div>
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <th>vendedor</th><th>monto</th><th>fecha</th>
    </thead>
    <tbody class="report">
      
    </tbody>
  </table>

  <ul >

  </ul>
</div>

<script>

</script>