<h1 style="color: blue;">INGRESO DE VENTAS</h1>

<hr>

<div class="formulario row jumbotron">
  
<div class="col-6 input-group mb-3">
  
  <input type="number" class="ingreso-venta form-control" aria-label="Text input with dropdown button" placeholder="importe">
  <button class="vendedor btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Vendedor</button>
  <span class="col"></span>
  <hr>
  <ul class="vendedoresDropdown dropdown-menu dropdown-menu-end">    
  </ul>
  
</div>
</div>
  <div class="row jumbotron">
  <input class="col-4 center observaciones" type="text" placeholder="observacion-cliente">   
  
  </div>

  <div class="row">
    <div class="col center">
    <button class="btn btn-success center" onclick="ingresarVenta()">Confirmar</button> 
  </div>
  </div>

<div>
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <th>vendedor</th><th>monto</th><th>observaciones</th><th>fecha</th>
    </thead>
    <tbody class="report">
      
    </tbody>
  </table>

  <ul >

  </ul>
</div>